
/* ===== Pop-up Base ===== */

.wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element, 
.wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element .wdt-popup-box-trigger-label, 
.wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon, 
.wdt-popup-box-window button.mfp-close, .wdt-popup-box-window button.mfp-arrow { 
    -webkit-transition: var(--wdt-elementor-base-transition); transition: var(--wdt-elementor-base-transition); }

.wdt-popup-box-window.mfp-bg {  background: var(--wdtSecondaryColor); opacity: 0.45; }
.wdt-popup-box-window.mfp-bg, 
.wdt-popup-box-window.mfp-wrap { height: auto; bottom: 0; left: 0; right: 0; top: 0; width: auto; cursor: default; backdrop-filter: blur(2px); -webkit-backdrop-filter: blur(2px); }

.wdt-popup-box-window.mfp-wrap .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { 
    background-color: var(--wdt-elementor-color-white); height: -webkit-fit-content; height: -moz-fit-content; height: fit-content; 
    margin: auto; max-width: 80vw; padding: 10px; width: 900px; -webkit-border-radius: var(--wdtRadius_Zero); border-radius: var(--wdtRadius_Zero); 
    -webkit-transition: var(--wdt-elementor-base-transition); transition: var(--wdt-elementor-base-transition); }

.wdt-popup-box-window.mfp-wrap .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder .wdt-popup-box-content-inner { 
    max-height: calc(80vh - 2*1.5em); overflow-y: auto; }

.wdt-popup-box-window .wdt-popup-box-content-holder .wdt-popup-box-content-inner > *:first-child { margin-top: 0; }
.wdt-popup-box-window .wdt-popup-box-content-holder .wdt-popup-box-content-inner > *:last-child { margin-bottom: 0; }

/* Pop-up Trigger Icon Style */
.wdt-popup-box-trigger-holder.wdt-click-element-icon { display: flex; justify-content: center; }
.wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon,
.wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon > i {     
    display: inline-flex; align-items: center; justify-content: center; }

/* Pop-up Trigger Label + Icon Style */
.wdt-popup-box-trigger-holder.wdt-click-element-label-n-icon .wdt-popup-box-trigger-element { 
    display: flex; align-items: center; }

/* Pop-up Trigger Elements */
.wdt-popup-box-trigger-holder:empty { display: none; }
.wdt-popup-box-trigger-holder, .wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element { will-change: transform; }
.wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element { cursor: pointer; }
.wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element img { align-self: start; }
.wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon { pointer-events: all; }
.wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon { font-size: 1.25rem; color: var(--wdtHeadAltColor);
    padding: 0; position: relative; text-align: center; vertical-align: top; z-index: 0; width: 50px; height: 50px; border: 1px solid; border-radius: var(--wdtRadius_Full); }
.wdt-dark-bg .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon { border-color: rgb(var(--wdtAccentTxtColorRgb), .25); color: var(--wdtAccentTxtColor); }
.wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon:hover { color: var(--wdtLinkHoverColor); transform: rotate(45deg); -webkit-transform: rotate(45deg); }
.wdt-popup-box-trigger-holder.wdt-click-element-label-n-icon .wdt-popup-box-trigger-element .wdt-popup-box-trigger-label { 
    display: inline-grid; align-content: center; }
.wdt-popup-box-trigger-holder.wdt-click-element-label-n-icon .wdt-popup-box-trigger-element .wdt-popup-box-trigger-label + .wdt-popup-box-trigger-icon { margin-left: 15px; }
.wdt-click-element-image-n-icon .wdt-popup-box-trigger-element { pointer-events: none; }
.wdt-click-element-image-n-icon .wdt-popup-box-trigger-element { display: grid; align-items: center; }
.wdt-click-element-image-n-icon .wdt-popup-box-trigger-element img { align-self: start; grid-area: 1 / -1; border-radius: calc(var(--wdtRadius_2X)* 2); }
.wdt-click-element-image-n-icon .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon { 
    pointer-events: all; grid-area: 1 / -1; align-items: center; }
.wdt-dark-bg .wdt-click-element-image-n-icon .wdt-popup-box-trigger-element img { filter: brightness(0.4); }


.wdt-fade-zoom .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon { width: clamp(5rem, 4.7213rem + 1.2739vw, 6.25rem); height: clamp(5rem, 4.7213rem + 1.2739vw, 6.25rem); background: rgb(var(--wdtPrimaryColorRgb), .8); color: var(--wdtAccentTxtColor); backdrop-filter: blur(4px); border: 0; }
.wdt-fade-zoom .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon i { transform: scale(1); -webkit-transform: scale(1); transition: var(--wdt-elementor-base-transition); }
.wdt-fade-zoom .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon:hover { color: var(--wdtAccentTxtColor); background: rgb(var(--wdtLinkHoverColorRgb), .6); transform: rotate(0); -webkit-transform: rotate(0); }
.wdt-fade-zoom .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon:hover i { transform: scale(0.8); -webkit-transform: scale(0.8); }



/* ===== Pop-Up - Close button ===== */

.wdt-popup-box-window .wdt-popup-box-content-holder .mfp-close, .wdt-popup-box-window .mfp-close { margin: 14px;
    font-size: 0; height: clamp(2.5rem, 2.3607rem + 0.6369vw, 3.125rem); width: clamp(2.5rem, 2.3607rem + 0.6369vw, 3.125rem); line-height: clamp(2.5rem, 2.3607rem + 0.6369vw, 3.125rem); border-radius: var(--wdtRadius_2X); -webkit-transform: none; 
    transform: none; display: flex; align-items: center; justify-content: center; opacity: 1; }

.wdt-popup-box-window.wdt-fade-zoom.mfp-ready.mfp-close-btn-in .mfp-close:before,
.wdt-popup-box-window.wdt-fade-zoom.mfp-ready.mfp-close-btn-in .mfp-close:after,
.wdt-popup-box-window .mfp-close:before, .wdt-popup-box-window .mfp-close:after {
    content: "" !important; width: 20px; height: 2px; background-color: currentColor;
    position: absolute; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); top: clamp(1.1875rem, 1.1178rem + 0.3185vw, 1.5rem); left: clamp(0.625rem, 0.5553rem + 0.3185vw, 0.9375rem);
    -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }

.wdt-popup-box-window.wdt-fade-zoom.mfp-ready.mfp-close-btn-in .mfp-close:after, .wdt-popup-box-window .mfp-close:after { 
    -webkit-transform: rotate(45deg); transform: rotate(45deg); -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }

.wdt-popup-box-window.wdt-fade-zoom.mfp-ready.mfp-close-btn-in .mfp-close:hover:before, .wdt-popup-box-window .mfp-close:hover:before { 
    -webkit-transform: rotate(-135deg); transform: rotate(-135deg); }
.wdt-popup-box-window.wdt-fade-zoom.mfp-ready.mfp-close-btn-in .mfp-close:hover:after, .wdt-popup-box-window .mfp-close:hover:after { 
    -webkit-transform: rotate(135deg); transform: rotate(135deg); }

.wdt-popup-box-window .wdt-popup-box-content-holder .mfp-close, .wdt-popup-box-window .mfp-close,
.wdt-popup-box-window.mfp-wrap .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder .wdt-popup-box-content-inner ~ .mfp-close { 
    background-color: var(--wdtPrimaryColor); color: var(--wdtAccentTxtColor); }

.wdt-popup-box-window .wdt-popup-box-content-holder .mfp-close:hover, .wdt-popup-box-window .mfp-close:hover,
.wdt-popup-box-window.mfp-wrap .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder .wdt-popup-box-content-inner ~ .mfp-close:hover {
    background-color: var(--wdtSecondaryColor); color: var(--wdtAccentTxtColor); }

.wdt-popup-box-window .mfp-close:empty { display: none; }


/* Pop-Up - Inside Close Button */

.wdt-popup-box-window.mfp-wrap .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder .wdt-popup-box-content-inner ~ .mfp-close { 
    background-color: var(--wdtPrimaryColor); opacity: 1; top: -20px; right: -20px; margin: 0px; height: clamp(2.5rem, 2.3607rem + 0.6369vw, 3.125rem); width: clamp(2.5rem, 2.3607rem + 0.6369vw, 3.125rem); }


/* ===== Pop-Up - Effect ===== */

/* FadeIn Effect */

.wdt-fade-zoom .mfp-content .mfp-iframe, 
.wdt-fade-zoom .mfp-content .mfp-img, .wdt-fade-zoom .mfp-content .mfp-figure:after, 
.wdt-fade-zoom .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { 
    opacity: 0; -webkit-transform: scale(0.8); transform: scale(0.8); -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

.wdt-fade-zoom.mfp-ready .mfp-content .mfp-iframe, 
.wdt-fade-zoom.mfp-ready .mfp-content .mfp-img, .wdt-fade-zoom.mfp-ready .mfp-content .mfp-figure:after, 
.wdt-fade-zoom.mfp-ready .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { 
    opacity: 1; -webkit-transform: scale(1); transform: scale(1); }

.wdt-popup-box-window.wdt-fade-zoom.mfp-ready.mfp-close-btn-in .mfp-close { 
    -webkit-transform: scale(1); transform: scale(1); width: 30px; height: 30px;
    display: flex; align-items: center; justify-content: center; padding: 10px; cursor: pointer; top: 5px; right: 0; opacity: 1; }

.mfp-ready .mfp-content .mfp-iframe { box-shadow: 0 0 0; border-radius: calc(var(--wdtRadius_2X)* 2); }


/* FadeIn Transform Effect */

.wdt-fade-slide .mfp-content .mfp-iframe, 
.wdt-fade-slide .mfp-content .mfp-img, .wdt-fade-slide .mfp-content .mfp-figure:after, 
.wdt-fade-slide .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { opacity: 0; 
    -webkit-transform: translateY(-20px) perspective(600px) rotateX(10deg); transform: translateY(-20px) perspective(600px) rotateX(10deg); 
    -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

.wdt-fade-slide.mfp-ready .mfp-content .mfp-iframe, 
.wdt-fade-slide.mfp-ready .mfp-content .mfp-img, .wdt-fade-slide.mfp-ready .mfp-content .mfp-figure:after, 
.wdt-fade-slide.mfp-ready .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { opacity: 1; 
    -webkit-transform: translateY(0) perspective(600px) rotateX(0); transform: translateY(0) perspective(600px) rotateX(0); }


/*==== Slide Effect Common Style ====*/

.wdt-popup-box-window.mfp-wrap[class*="side-slide"] .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { 
    box-shadow: 0 0 70px 20px rgb(255 255 255 / 8%); }

.wdt-popup-box-window.mfp-wrap[class*="side-slide"] .mfp-content .wdt-popup-box-content-holder { display: flex; justify-content: center; align-items: center; }
.wdt-popup-box-window.mfp-wrap[class*="side-slide"] .mfp-container.mfp-inline-holder { padding: 0; }

.wdt-popup-box-window.mfp-wrap[class*="side-slide"] .mfp-container.mfp-inline-holder .mfp-content { height: 100%; max-height: 100%; padding: 20px; }
.wdt-popup-box-window.mfp-wrap[class*="side-slide"] .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder .wdt-popup-box-content-inner { 
    height: 100%; max-height: 100%; display: grid; place-items: center; }


/* Right Slide Effects */

.wdt-popup-box-window.mfp-wrap.wdt-right-side-slide .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { 
    height: 100%; margin-right: 0; margin-left: auto; width: 100%; max-width: 340px; padding: clamp(3.75rem, 1.6517rem + 9.5923vw, 6.25rem) clamp(1.875rem, 0.3013rem + 7.1942vw, 3.75rem); border-radius: calc(var(--wdtRadius_2X)* 2); }

.wdt-popup-box-window.wdt-right-side-slide .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder {
    -webkit-transform: translateX(800px); transform: translateX(800px); opacity: 1; 
    -webkit-transition: 0.45s cubic-bezier(0.5, 1, 0.89, 1) .45s; transition: 0.45s cubic-bezier(0.5, 1, 0.89, 1) .45s; }
.wdt-popup-box-window.wdt-right-side-slide.mfp-ready .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { 
    -webkit-transform: translateY(0); transform: translateY(0); }

.wdt-popup-box-window.mfp-wrap.wdt-right-side-slide .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder .wdt-popup-box-content-inner ~ .mfp-close { 
    top: 20px; right: 20px; }


/* Left Slide Effects */

.wdt-popup-box-window.mfp-wrap.wdt-left-side-slide .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { 
    height: 100%; margin-right: auto; margin-left: 0; max-width: 660px; padding: 40px; }

.wdt-popup-box-window.wdt-left-side-slide .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder {
    -webkit-transform: translateX(-800px); transform: translateX(-800px); opacity: 1; 
    -webkit-transition: 0.45s cubic-bezier(0.5, 1, 0.89, 1) .45s; transition: 0.45s cubic-bezier(0.5, 1, 0.89, 1) .45s; }
.wdt-popup-box-window.wdt-left-side-slide.mfp-ready .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { 
    -webkit-transform: translateY(0); transform: translateY(0); }

.wdt-popup-box-window.mfp-wrap.wdt-left-side-slide .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder .wdt-popup-box-content-inner ~ .mfp-close { 
    top: 12px; left: 12px; }


/* Left Full Slide Effects */

.wdt-popup-box-window.mfp-wrap.wdt-left-side-slide-full .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { 
    height: 100%; margin-right: auto; margin-left: 0; width: 100vw; max-width: 100vw; padding: 40px; }

.wdt-popup-box-window.wdt-left-side-slide-full .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder {
    -webkit-transform: translateX(-100%); transform: translateX(-100%); opacity: 1; 
    -webkit-transition: 0.45s cubic-bezier(0.5, 1, 0.89, 1) .45s; transition: 0.45s cubic-bezier(0.5, 1, 0.89, 1) .45s; }
.wdt-popup-box-window.wdt-left-side-slide-full.mfp-ready .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { 
    -webkit-transform: translateY(0%); transform: translateY(0%); }

.wdt-popup-box-window.mfp-wrap.wdt-left-side-slide-full .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder .wdt-popup-box-content-inner ~ .mfp-close { 
    top: 12px; left: 12px; }


/* Right Full Slide Effects */

.wdt-popup-box-window.mfp-wrap.wdt-right-side-slide-full .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { 
    height: 100%; margin-right: auto; margin-left: 0; width: 100vw; max-width: 100vw; padding: 40px; }

.wdt-popup-box-window.wdt-right-side-slide-full .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder {
    -webkit-transform: translateX(100%); transform: translateX(100%); opacity: 1; 
    -webkit-transition: 0.45s cubic-bezier(0.5, 1, 0.89, 1) .45s; transition: 0.45s cubic-bezier(0.5, 1, 0.89, 1) .45s; }
.wdt-popup-box-window.wdt-right-side-slide-full.mfp-ready .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { 
    -webkit-transform: translateY(0%); transform: translateY(0%); }

.wdt-popup-box-window.mfp-wrap.wdt-right-side-slide-full .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder .wdt-popup-box-content-inner ~ .mfp-close { 
    top: 12px; right: 12px; }



/* ===== Scrollbar CSS ===== */
/* Firefox */
    .wdt-popup-box-window.mfp-wrap .mfp-container.mfp-inline-holder .wdt-popup-box-content-holder .wdt-popup-box-content-inner {
        -webkit-scrollbar-width: none; scrollbar-width: none; scrollbar-color: var(--wdtPrimaryColor) transparent; }

/* Chrome, Edge, and Safari */
    .wdt-popup-box-window.mfp-wrap .mfp-container.mfp-inline-holder .wdt-popup-box-content-holder .wdt-popup-box-content-inner::-webkit-scrollbar {
        width: 0px; display: none; }
    .wdt-popup-box-window.mfp-wrap .mfp-container.mfp-inline-holder .wdt-popup-box-content-holder .wdt-popup-box-content-inner::-webkit-scrollbar-track {
        background: transparent; }
    .wdt-popup-box-window.mfp-wrap .mfp-container.mfp-inline-holder .wdt-popup-box-content-holder .wdt-popup-box-content-inner::-webkit-scrollbar-thumb {
        background-color: var(--wdtPrimaryColor); border-radius: 0px; }


/* ===== At Rules (Responsive) ===== */


@media (max-width: 1280px) {
    /* .wdt-popup-box-window.mfp-wrap.wdt-right-side-slide .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder,
    .wdt-popup-box-window.mfp-wrap.wdt-left-side-slide .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { 
        max-width: 540px; padding: 30px; } */

    .wdt-popup-box-window.mfp-wrap.wdt-left-side-slide-full .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder,
    .wdt-popup-box-window.mfp-wrap.wdt-right-side-slide-full .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { padding: 30px; }
}

@media (max-width: 1024px) { 
    /* .wdt-popup-box-window.mfp-wrap.wdt-right-side-slide .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder,
    .wdt-popup-box-window.mfp-wrap.wdt-left-side-slide .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { 
        max-width: 460px; padding: 30px 20px; } */

    .wdt-popup-box-window.mfp-wrap.wdt-left-side-slide-full .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder,
    .wdt-popup-box-window.mfp-wrap.wdt-right-side-slide-full .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { padding: 30px 20px; }
}

@media (max-width: 767px) { 
    /* .wdt-popup-box-window.mfp-wrap.wdt-right-side-slide .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder,
    .wdt-popup-box-window.mfp-wrap.wdt-left-side-slide .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { max-width: 440px; } */

    .wdt-popup-box-window .wdt-popup-box-content-holder .wdt-popup-box-content-inner > *:last-child { width: 100%;}
}

@media (max-width: 480px) { 
    /* .wdt-popup-box-window.mfp-wrap.wdt-right-side-slide .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder,
    .wdt-popup-box-window.mfp-wrap.wdt-left-side-slide .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { max-width: 320px; } */
}
/* Pop-up None Style */
.wdt-popup-box-trigger-holder.wdt-popup-disable {
    display: none;
}


