/*--------------------------------------------------------------*/
    /* #region - IconsGroup Button */
/*--------------------------------------------------------------*/

    .woocommerce ul.products li.product .product-buttons-wrapper.product-icons a.button.product_type_simple:before { 
        content: "\e820"; font-family: 'WeFix Icons';  }

    .woocommerce ul.products li.product .product-buttons-wrapper.product-icons a.button.product_type_variable:before { 
        content: "\f218"; font-family: 'WeFix Icons'; }

    .woocommerce ul.products li.product .product-buttons-wrapper.product-icons a.button.product_type_variation:before { 
        content: "\f218"; font-family: 'WeFix Icons'; }

    .woocommerce ul.products li.product .product-buttons-wrapper.product-icons > .wc_inline_buttons > div[class*="_btn_wrapper"] button.add_to_cart_variantbutton:before { content: "\f218"; font-family: 'WeFix Icons'; }

    .woocommerce ul.products li.product .product-buttons-wrapper.product-icons a.button.add_to_cart_button.product_type_simple:before { content: "\f217"; font-family: 'WeFix Icons'; }

    .woocommerce ul.products li.product .product-buttons-wrapper.product-icons a.added_to_cart.wc-forward:before { 
        content: "\e843"; font-family: 'WeFix Icons'; z-index: 1; }

    .woocommerce ul.products li.product .product-buttons-wrapper.product-icons a.button.product_type_external:before { 
        content: "\f08e"; font-family: "WeFix Icons"; }

    .woocommerce ul.products li.product .product-buttons-wrapper.product-icons a.button.product_type_grouped:before { 
        content: "\f16b"; font-family: 'WeFix Icons'; }
        
    .woocommerce ul.products li.product a.add_to_cart_button.added { display: none !important; }

/* #endregion - IconsGroup Button */