
.wdt-flex-banner-options .wdt-flex-banner-option { width: 100%; height: 100vh; transition: .8s cubic-bezier(.29,0,.2,1);
  background-position: center center; background-repeat: no-repeat; background-size: cover; cursor: pointer; overflow: hidden; }
.wdt-flex-banner-options .wdt-flex-banner-option:not(:last-child) { border-right: 1px solid var(--wdtBorderColor); }
.wdt-flex-banner-options .wdt-flex-banner-option:before { 
  content: ""; position: absolute; top: 0; right: 0; left: 0; bottom: 0; display: block; background-color: rgb(var(--wdtSecondaryColorRgb), .7); transition: var(--wdtBaseTransition); }

/* Transtion Style */

.wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label { display: flex; flex-direction: column; margin-top: auto; padding: clamp(1.5625rem, -0.2232rem + 2.7902vw, 3.125rem); }

.wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-title { flex: 0; }
.wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info { flex: 1; }

.wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-icon,
.wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-sub-title,
.wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > .wdt-flex-banner-title,
.wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-content,
.wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-button { 
  -webkit-transition: 375ms cubic-bezier(0.7, 0, 0.3, 1); transition: 375ms cubic-bezier(0.7, 0, 0.3, 1); 
  width: 20vw; margin: 0 0 clamp(0.9375rem, 0.8678rem + 0.3185vw, 1.25rem); }

.wdt-flex-banner-options .wdt-flex-banner-option.active .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-icon,
.wdt-flex-banner-options .wdt-flex-banner-option.active .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-sub-title,
.wdt-flex-banner-options .wdt-flex-banner-option.active .wdt-flex-banner-label .wdt-flex-banner-info > .wdt-flex-banner-title,
.wdt-flex-banner-options .wdt-flex-banner-option.active .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-content,
.wdt-flex-banner-options .wdt-flex-banner-option.active .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-button {
  -webkit-transition: 500ms cubic-bezier(0.7, 0, 0.3, 1); transition: 500ms cubic-bezier(0.7, 0, 0.3, 1); }

.wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-icon { 
  transition-delay: 120ms; -webkit-transform: translateY(50px); transform: translateY(50px); opacity: 0; }
.wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-sub-title {
  transition-delay: 90ms; -webkit-transform: translateY(50px); transform: translateY(50px); opacity: 0; }
.wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-title {
  transition-delay: 60ms; -webkit-transform: translateY(50px); transform: translateY(50px); opacity: 0; }
.wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-content {
  transition-delay: 25ms; -webkit-transform: translateY(50px); transform: translateY(50px); opacity: 0; }
.wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-button {
  transition-delay: 2ms; -webkit-transform: translateY(50px); transform: translateY(50px); opacity: 0; }

.wdt-flex-banner-options .wdt-flex-banner-option.active .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-icon {
  transition-delay: 0ms; -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
.wdt-flex-banner-options .wdt-flex-banner-option.active .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-sub-title {
  transition-delay: 100ms; -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
  .wdt-flex-banner-options .wdt-flex-banner-option.active .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-title {
  transition-delay: 250ms; -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
.wdt-flex-banner-options .wdt-flex-banner-option.active .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-content {
  transition-delay: 320ms; -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
.wdt-flex-banner-options .wdt-flex-banner-option.active .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-button {
  transition-delay: 350ms; -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }

  /* Transtion End */


.wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-title { line-height: var(--wdtLineHeight_Alt);
  font-family: var(--wdtFontTypo_Alt); font-weight: var(--wdtFontWeight_Ext); text-transform: capitalize; z-index: 1; position: relative; }

.wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info { padding: 20px 0 0; }

.wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > div:last-child { margin-bottom: 0; }
.wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-content { font-family: var(--wdtFontTypo_Base); }
.wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-content p { margin: 0; }

.wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-button a { 
  display: inline-block; line-height: 1; font-size: var(--wdtFontTypo_Ext); text-align: center; -webkit-border-radius: var(--wdtRadius_Zero); border-radius: var(--wdtRadius_Zero); }

.wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-shadow { pointer-events: none;
  width: 100%; height: 100%; position: absolute; background-image: linear-gradient(45deg, rgba(0,0,0,0.8), transparent); }

.wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-title { font-size: clamp(1.125rem, 1.0693rem + 0.2548vw, 1.375rem); } 

.wdt-flex-banner-options div.wdt-flex-banner-option::after { counter-increment: wdt-flex-banner-option; content: "0" counter(wdt-flex-banner-option); margin-top: auto; line-height: 1; letter-spacing: 0; font-family: var(--wdtFontTypo_Alt); font-weight: calc(var(--wdtFontWeight_H6) + 100); font-size: clamp(5rem, 4.3033rem + 3.1847vw, 8.125rem); color: var(--wdtPrimaryColor); top: 50px; left: -35px; position: absolute; transition: var(--wdtBaseTransition); }
.wdt-flex-banner-options div.wdt-flex-banner-option.active::after { color: var(--wdtAccentTxtColor); left: 35px; }


/* -----------------------
    Primary Color 
----------------------- */

.wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-title,
.wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info { color: var(--wdtAccentTxtColor); transition: var(--wdtBaseTransition); }

.wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-button a { color: var(--wdtAccentTxtColor); position: relative; }
.wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-button a::before{ content: ""; position: absolute; bottom: -5px; background: currentColor; width: 100%; height: 1px; left: 0; right: auto; transition: var(--wdt-Ad-Transition); pointer-events: none; }
.wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-button a::after{ content: ""; display: inline-block; background: currentColor; width: 10px; height: 10px; margin-left: 8px; mask-image: var(--wdt-arrow-mask); -webkit-mask-image: var(--wdt-arrow-mask); mask-repeat: no-repeat; -webkit-mask-repeat: no-repeat; }

/* -----------------------
    secondary Color 
----------------------- */

.wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-button a:hover::before { right: 0; left: auto; width: 0; }
.wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-button a:hover::after { animation: wdt-btn-icon 0.3s ease; -webkit-animation: wdt-btn-icon 0.3s ease; }


/* --Additional Style-- */

.wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-title { font-size: clamp(1.5rem, 1.2074rem + 1.3376vw, 2.8125rem); }
.wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info + .wdt-flex-banner-title { transition: var(--wdtBaseTransition); transform: translateX(0); -webkit-transform: translateX(0); transition-delay: 0.1s; color: var(--wdtHeadAltColor); }
.wdt-flex-banner-options .wdt-flex-banner-option.active .wdt-flex-banner-label .wdt-flex-banner-info + .wdt-flex-banner-title { opacity: 0; transform: translateX(-30px); -webkit-transform: translateX(-30px); }


/* -----------------------
    Responsive
----------------------- */

@media(max-width:1280px){
  .wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-icon,
  .wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-sub-title,
  .wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > .wdt-flex-banner-title,
  .wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-content,
  .wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-button { width: 25vw; }
}

@media ( min-width: 1025px) {

  .wdt-flex-banner-options { display: flex; flex-wrap: nowrap; }
  .wdt-flex-banner-options .wdt-flex-banner-option { flex: 1; width: 100% !important; overflow: hidden;
      display: flex; flex-direction: column; position: relative; transition: flex .8s cubic-bezier(.29,0,.2,1); will-change: flex; backface-visibility: hidden; }

  .wdt-flex-banner-options .wdt-flex-banner-option.active { flex: 2; }

}

@media ( max-width: 1024px) { 

  .wdt-flex-banner-options .wdt-flex-banner-option { position: relative; }
  .wdt-flex-banner-options .wdt-flex-banner-option:before { z-index: 0; top: 0; right: 0; bottom: 0; left: 0; }
  .wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label { padding: 20px; z-index: 1; /*flex-flow: column wrap;*/ }
  .wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info { padding: 10px 0 0; }
  .wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-title { font-size: 1rem; margin: 0 30px 0 0; }
  .wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info + .wdt-flex-banner-title { display: none; }
  .wdt-flex-banner-options div.wdt-flex-banner-option::after,
  .wdt-flex-banner-options div.wdt-flex-banner-option.active::after { top: 30px; left: 20px; color: var(--wdtAccentTxtColor); }

  .wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-title { flex: 0; }
  .wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info { flex: 1; }
  .wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-icon, 
  .wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-sub-title, 
  .wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-content, 
  .wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-button { width: 100%; padding: 0; }

  .wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-icon { 
    transition-delay: 90ms; -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
  .wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-sub-title {
    transition-delay: 60ms; -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
  .wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-title {
    transition-delay: 50ms; -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
  .wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-content {
    transition-delay: 25ms; -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
  .wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-label .wdt-flex-banner-info > div.wdt-flex-banner-button {
    transition-delay: 2ms; -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }

  /* -----------------------
      Snap scroll style 
  ----------------------- */

  .wdt-flex-banner-options { -webkit-scrollbar-width: none; scrollbar-width: none; scroll-behavior: smooth; 
    display: flex; overflow: auto; scroll-snap-type: x mandatory; flex-wrap: nowrap; padding-bottom: 0; margin: 0; }
  .wdt-flex-banner-options .wdt-flex-banner-option { display: inherit;
    flex: 0 0 44%; width: auto !important; scroll-snap-align: start; scroll-snap-stop: always; }

  /* Full-width Snap scroll style */

  .wdt-flex-banner-options { scroll-padding: 0px; }
}

@media (max-width: 767px) {

  /* Snap scroll style */
  .wdt-flex-banner-options .wdt-flex-banner-option { flex: 0 0 80%; }
}

@media (max-width: 480px) {

  .wdt-flex-banner-options .wdt-flex-banner-option .wdt-flex-banner-title { margin: 0 20px 0 0; }

  /* Snap scroll style */
  .wdt-flex-banner-options .wdt-flex-banner-option { flex: 0 0 100%; }
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  .wdt-flex-banner-options { scrollbar-width: none; scrollbar-color: var(--wdtPrimaryColor) transparent; border: 1px solid var(--wdtBorderColor); border-radius: calc(var(--wdtRadius_2X)* 2); counter-reset: wdt-flex-banner-option; transition: var(--wdtBaseTransition); }


  /* Chrome, Edge, and Safari */
  .wdt-flex-banner-options::-webkit-scrollbar { width: 0px; display: none; }
  .wdt-flex-banner-options::-webkit-scrollbar-track { background: transparent; }
  .wdt-flex-banner-options::-webkit-scrollbar-thumb { background-color: var(--wdtPrimaryColor); border-radius: 0px; }


@media (min-width:1025px){
  .wdt-flex-banner-options { overflow: hidden; }
  .wdt-flex-banner-options .wdt-flex-banner-option:before { background-color: var(--wdtAccentTxtColor); }
  .wdt-flex-banner-options .wdt-flex-banner-option.active:before { background-color: rgb(var(--wdtSecondaryColorRgb), .7); }
  .wdt-flex-banner-options .wdt-flex-banner-option.active .wdt-flex-banner-label .wdt-flex-banner-title,
  .wdt-flex-banner-options .wdt-flex-banner-option.active .wdt-flex-banner-label .wdt-flex-banner-info { color: var(--wdtHeadAltColor); }
  .wdt-flex-banner-options .wdt-flex-banner-option.active .wdt-flex-banner-label .wdt-flex-banner-title,
  .wdt-flex-banner-options .wdt-flex-banner-option.active .wdt-flex-banner-label .wdt-flex-banner-info { color: var(--wdtAccentTxtColor); }
}