.wdt-advanced-video-container{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
cursor: none;
max-width: 100%;}
.wdt-advanced-video-container .wdt-advanced-video video.advanced-video
{
    height: 100%;
	width: 100%;
	object-fit: cover;
}
.wdt-advanced-video-container .wdt-play-button
{
    position: absolute;
	border: 3px solid var(--wdtPrimaryColor);
	border-radius: 100px;
	width: 120px;
	height: 120px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	opacity: 1;
	cursor: none;
}
.wdt-advanced-video-container .wdt-play-button span
{
    font-size: 14px;
    color: rgba(var(--wdtAccentTxtColorRgb),1);
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--wdtPrimaryColorRgb,0.5));
    background-position: center;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.3s cubic-bezier(.26,-.14,0,1.01);
    margin: auto;
    font-family: var(--font-body-family);
    text-transform: capitalize;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    position: absolute;
}




/* .wdt-advanced-video-container .wdt-play-button {position: absolute;border-radius: 50%;}
.wdt-advanced-video-container .wdt-play-button span{background: var(--wdtPrimaryColor);width: 100px;height: 100px;display: flex;align-items: center;justify-content: center;border-radius: 50%;}
.wdt-advanced-video-container .wdt-play-button span i.fa.fa-solid.fa-play:before {content: "play";}
.wdt-advanced-video-container .wdt-play-button span i.fa.fa-solid.fa-pause:before {content: "pause";} */