/**
    Accordion & Toggle Transition
*/

.wdt-accordion-toggle-holder,
.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder,
.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon {
    -webkit-transition: var(--wdt-Ad-Transition); transition: var(--wdt-Ad-Transition); }

/**
    Accordion & Toggle Common
*/

.wdt-accordion-toggle-holder { overflow: hidden; width: 100%; margin: 0 auto; }

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder,
.wdt-accordion-toggle-holder .wdt-accordion-toggle-description { background-image: none; border-radius: 0px; position: relative; }

.wdt-accordion-toggle-holder .wdt-accordion-toggle-wrapper:not(:last-child) { margin-bottom: 20px; }
.wdt-accordion-toggle-holder .wdt-accordion-toggle-wrapper { display: flex; flex-wrap: wrap; width: 100%; }

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder { font-size: 1.2rem; line-height: normal; position: relative; 
    display: flex; align-items: center; width: 100%; margin: 0 auto; padding: 14px 28px; cursor: pointer; }

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-title { font-family: var(--wdtFontTypo_Alt); flex-grow: 1; }

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-title div[class*='-title-prefix'] { 
    line-height: 1; position: relative; margin: 0 clamp(1.25rem, 0.9713rem + 1.2739vw, 2.5rem) 0 0; font-size: clamp(1.5rem, 1.4164rem + 0.3822vw, 1.875rem); display: inline-block; transition: var(--wdt-Ad-Transition); color: var(--wdtSecondaryColor); }

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-title div[class*='-title-prefix']:not(.icon):before {
    position: absolute; right: 0; bottom: 2px; width: 3px; height: 3px; content: ''; background: currentColor; }

.wdt-accordion-toggle-holder[class*='-expand-collapse-position-start'] .wdt-accordion-toggle-title-holder { 
    flex-direction: row-reverse; justify-content: start; }
.wdt-accordion-toggle-holder[class*='-expand-collapse-position-start'] .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon { 
    margin: 0 20px 0 0; }

.wdt-accordion-toggle-holder .wdt-accordion-toggle-description { padding: 14px 28px; font-size: 1rem; 
    width: 100%; font-family: var(--wdtFontTypo_Base); background: transparent; }

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon { position: relative; 
    display: flex; flex-shrink: 0; width: 1em; height: 1em; margin-left: 20px; }

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon > div { position: absolute; 
    top: 0; right: 0; bottom: 0; left: 0; display: flex; align-items: center; justify-content: flex-end; margin: auto; }

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder.ui-state-active .wdt-accordion-toggle-icon [class*='-toggle-icon-expand'] { opacity: 0; }
.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon [class*='-toggle-icon-expand'] { opacity: 1; }

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder.ui-state-active .wdt-accordion-toggle-icon [class*='-toggle-icon-collapse'] { opacity: 1; }
.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon [class*='-toggle-icon-collapse'] { opacity: 0; }

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder.ui-state-active .wdt-accordion-toggle-title div[class*='-title-prefix'] { color: var(--wdtPrimaryColor); }


/** 
    Template Classic 
*/

.wdt-template-classic .wdt-accordion-toggle-wrapper { background-color: var(--wdtTertiaryColor); border-radius: 10px; overflow: hidden; }

.wdt-template-classic .wdt-accordion-toggle-title-holder { border: none; background-color: transparent; color: var(--wdtHeadAltColor); }
.wdt-template-classic .wdt-accordion-toggle-description { border: none; padding-top: 0px; }


/** 
    Template Bordered 
*/

.wdt-template-bordered .wdt-accordion-toggle-wrapper { margin-bottom: 0; }
.wdt-template-bordered .wdt-accordion-toggle-title-holder { border-style: solid; border-width: 1px 0 0; border-color: var(--wdtBorderColor); background: transparent; }
.wdt-template-bordered .wdt-accordion-toggle-description { padding: 0 clamp(2.8125rem, 2.4642rem + 1.5924vw, 4.375rem) 30px; }
.wdt-template-bordered .wdt-accordion-toggle-title-holder.ui-state-hover { background: transparent; }
.wdt-template-bordered.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder { padding: clamp(1.25rem, 1.1107rem + 0.6369vw, 1.875rem) 0; }
.wdt-template-bordered.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-title { display: flex; width: 100%; color: var(--wdt-elementor-color-primary); 
    font-size: clamp(1.25rem, 1.1943rem + 0.2548vw, 1.5rem); }
.wdt-template-bordered.wdt-accordion-toggle-holder .wdt-accordion-toggle-wrapper:not(:last-child) { margin-bottom: 0; }

.wdt-template-bordered.wdt-accordion-toggle-holder .wdt-accordion-toggle-description::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  z-index: 1;
  background: var(--wdtSecondaryColor);
  transition: var(--wdt-Ad-Transition);
}

.wdt-template-bordered.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon { width: 10px; height: 10px; color: var(--wdtSecondaryColor); }