
.wdt-elementor-repeater-container-wrapper { margin: 0px; }
.wdt-elementor-repeater-container-wrapper > div { margin: 12px; line-height: 1em; display: inline-block; vertical-align: middle; }

.wdt-elementor-repeater-container-wrapper > .wdt-opt-image img { object-fit: cover; border-radius: 0em; }

.wdt-elementor-repeater-container-wrapper > .wdt-opt-icon { display: inline-flex; align-items: center; justify-content: center; }
.wdt-elementor-repeater-container-wrapper > .wdt-opt-icon svg { width: 1em; height: 1em; fill: currentColor; }