
.wdt-carousel-holder { /* margin-left: -10px; margin-right: -10px;*/ position: relative; cursor: grab; }

.wdt-carousel-holder .swiper.swiper-vertical .swiper-wrapper .swiper-slide { overflow: hidden; }

/* Pagination */

.wdt-carousel-holder .wdt-carousel-pagination-wrapper { text-align: center; }
.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination { position: static; }
.wdt-carousel-holder .swiper.swiper-horizontal + .wdt-carousel-pagination-wrapper .wdt-swiper-pagination { margin-top: 40px; width: fit-content; text-align: left; }

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination:empty { display: none; }

.swiper-button-lock, .swiper-pagination-lock { display: none !important; }

.wdt-carousel-holder .swiper.swiper-horizontal + .wdt-carousel-pagination-wrapper .wdt-swiper-pagination .wdt-swiper-pagination-bullets .swiper-pagination-bullet { width: 40px; border-radius: 0; height: 2px; background: var(--wdtLinkColor); opacity: 1; margin: 0 7px; transition: var(--wdtAltTransition); cursor: pointer; }
.wdt-carousel-holder .swiper.swiper-horizontal + .wdt-carousel-pagination-wrapper .wdt-swiper-pagination .wdt-swiper-pagination-bullets .swiper-pagination-bullet:first-child { margin-left: 0; }
.wdt-carousel-holder .swiper.swiper-horizontal + .wdt-carousel-pagination-wrapper .wdt-swiper-pagination .wdt-swiper-pagination-bullets .swiper-pagination-bullet:last-child { margin-right: 0; }

.wdt-dark-bg .wdt-carousel-holder .swiper.swiper-horizontal + .wdt-carousel-pagination-wrapper .wdt-swiper-pagination .wdt-swiper-pagination-bullets .swiper-pagination-bullet { background: var(--wdtAccentTxtColor); }

.wdt-dark-bg.wdt-carousel-holder .swiper.swiper-horizontal + .wdt-carousel-pagination-wrapper .wdt-swiper-pagination .wdt-swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active,
.wdt-carousel-holder .swiper.swiper-horizontal + .wdt-carousel-pagination-wrapper .wdt-swiper-pagination .wdt-swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active 
{ height: 5px; background: var(--wdtLinkHoverColor); } 


/* Arrows */

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-carousel-arrow-pagination { display: block; }
.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-carousel-arrow-pagination > div:not(.swiper-button-lock) { 
    background-color: transparent !important; background-image: none !important; color: var(--wdt-elementor-color-white); 
    display: inline-flex; place-content: center; place-items: center; letter-spacing: 0; height: 50px; line-height: normal;
     margin: 7px; margin-top: 40px; padding: 0; position: relative; text-decoration: none; text-transform: none; 
     vertical-align: top; width: 50px; z-index: 1; -webkit-border-radius: var(--wdtRadius_2X); 
     border-radius: var(--wdtRadius_2X); -webkit-transition: var(--wdt-elementor-base-transition); 
     transition: var(--wdt-elementor-base-transition); }

.wdt-dark-bg .wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-carousel-arrow-pagination > div:not(.swiper-button-lock) { color: var(--wdt-elementor-color-black); }
.wdt-dark-bg .wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-carousel-arrow-pagination > div:not(.swiper-button-lock):hover { color: var(--wdt-elementor-color-white); }
.wdt-dark-bg .wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-carousel-arrow-pagination > div.swiper-button-disabled:hover { color: var(--wdtLinkColor); }

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-carousel-arrow-pagination > div:not(.swiper-button-disabled):hover svg {
    animation: wdt-arrow-icon 0.3s ease; -webkit-animation: wdt-arrow-icon 0.3s ease;
}

@keyframes wdt-arrow-icon {
    0% { transform: translateX(0); -webkit-transform: translateX(0); opacity: 1; }
    49% { transform: translateX(10px) scale(0.5); -webkit-transform: translateX(10px) scale(0.5); opacity: 0; }
    50% { transform: translateX(-10px) scale(0.5); -webkit-transform: translateX(-10px) scale(0.5); opacity: 0; }
    100% { transform: translateX(0); -webkit-transform: translateX(0); opacity: 1; }
}

@-webkit-keyframes wdt-arrow-icon {
    0% { transform: translateX(0); -webkit-transform: translateX(0); opacity: 1; }
    49% { transform: translateX(10px) scale(0.5); -webkit-transform: translateX(10px) scale(0.5); opacity: 0; }
    50% { transform: translateX(-10px) scale(0.5); -webkit-transform: translateX(-10px) scale(0.5); opacity: 0; }
    100% { transform: translateX(0); -webkit-transform: translateX(0); opacity: 1; }
}

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-carousel-arrow-pagination > div.wdt-arrow-pagination-prev:not(.swiper-button-disabled):hover svg {
    animation: wdt-arrow-icon-left 0.3s ease; -webkit-animation: wdt-arrow-icon-left 0.3s ease;
}

@keyframes wdt-arrow-icon-left {
    0% { transform: translateX(0); -webkit-transform: translateX(0); opacity: 1; }
    49% { transform: translateX(-10px) scale(0.5); -webkit-transform: translateX(-10px) scale(0.5); opacity: 0; }
    50% { transform: translateX(10px) scale(0.5); -webkit-transform: translateX(10px) scale(0.5); opacity: 0; }
    100% { transform: translateX(0); -webkit-transform: translateX(0); opacity: 1; }
}

@-webkit-keyframes wdt-arrow-icon-left {
    0% { transform: translateX(0); -webkit-transform: translateX(0); opacity: 1; }
    49% { transform: translateX(-10px) scale(0.5); -webkit-transform: translateX(-10px) scale(0.5); opacity: 0; }
    50% { transform: translateX(10px) scale(0.5); -webkit-transform: translateX(10px) scale(0.5); opacity: 0; }
    100% { transform: translateX(0); -webkit-transform: translateX(0); opacity: 1; }
}

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-carousel-arrow-pagination > div[aria-disabled="true"] { cursor: not-allowed; }

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-carousel-arrow-pagination > div > i { 
    color: inherit; display: inline-flex; place-content: center; place-items: center; font-size: var(--wdtFontSize_Base); height: 100%; 
    margin: 0; padding: 5px; position: relative; width: 100%; z-index: 0; -webkit-transition: inherit; transition: inherit; }

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-carousel-arrow-pagination > div:before { 
    background: var(--wdt-elementor-color-primary); content: ""; height: auto; margin: auto; position: absolute; 
    bottom: 0; left: 0; right: 0; top: 0; width: auto; z-index: -1; -webkit-border-radius: inherit; border-radius: inherit; 
    -webkit-transition: inherit; transition: inherit; }

.wdt-dark-bg .wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-carousel-arrow-pagination > div:before { background: var(--wdt-elementor-color-white); }

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-carousel-arrow-pagination > div:not(.swiper-button-disabled):hover:before { 
    background-color: var(--wdt-elementor-color-accent); }

.wdt-carousel-holder .swiper.swiper-horizontal + .wdt-carousel-pagination-wrapper .wdt-carousel-arrow-pagination { 
    margin-left: 10px; margin-right: 10px; }



/* Pagination - Dots or Bullets */

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-bullets:not(.swiper-pagination-lock) { 
    display: inline-flex; place-content: center; place-items: center; width: auto; }

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet { 
    background-color: transparent !important; background-image: none !important; display: inline-flex; place-content: center; place-items: center; letter-spacing: 0; 
    height: 3px; line-height: normal; margin: 0 5px; opacity: 1; padding: 0; position: relative; text-decoration: none; text-transform: none; vertical-align: top; 
    width: clamp(1.875rem, 1.7357rem + 0.6369vw, 2.5rem); z-index: 1; -webkit-border-radius: var(--wdtRadius_Zero); border-radius: var(--wdtRadius_Zero); -webkit-transition: var(--wdt-elementor-base-transition); 
    transition: var(--wdt-elementor-base-transition); }

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet:hover,
.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet-active { 
    opacity: 1; }

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet:before { 
    background: var(--wdt-elementor-color-primary); content: ""; left: 0; bottom: 0; height: inherit; margin: auto; position: absolute; 
    width: 100%; -webkit-border-radius: inherit; border-radius: inherit; -webkit-transition: inherit; transition: inherit; }

.wdt-dark-bg .wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet:before { background-color: var(--wdt-elementor-color-white); }

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet:hover:before,
.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet-active:before,
.wdt-dark-bg .wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet:hover:before,
.wdt-dark-bg .wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet-active:before { 
    background-color: var(--wdt-elementor-color-accent); height: 5px; }

.wdt-carousel-holder .swiper + .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-bullets,
.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-bullets { margin-left: 5px; margin-right: 5px; }


/* Pagination - Fraction */

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-fraction { 
    background: var(--wdt-elementor-color-primary); color: var(--wdt-elementor-color-white); display: inline-flex; 
    place-items: center; height: 30px; line-height: 1; margin-left: auto; margin-right: auto; padding: 0 20px; width: auto; 
    -webkit-border-radius: 5px; border-radius: 5px; }
.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-pagination.swiper-pagination-fraction > * { 
    display: inline-block; margin: 0; vertical-align: top; }


/* Pagination - ScrollBar */

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-scrollbar { float: left; height: 6px; margin: 20px 0 0; opacity: 1 !important; position: relative; width: 100%; z-index: 0; -webkit-border-radius: 10px; border-radius: 10px;
    background-color: transparent;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 17%, rgba(0,0,0,0.1) 83%, rgba(0,0,0,0) 100%);
}

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-scrollbar:before,
.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-scrollbar:after { content: ""; height: 100%; opacity: 0.6; position: absolute; bottom: 0; left: 0; right: 0; top: 0; width: 100%; z-index: -1; -webkit-border-radius: inherit; border-radius: inherit;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 17%, rgba(0,0,0,0.1) 83%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );
}

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-scrollbar:before,
.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-scrollbar:after { height: auto; margin: 0; width: 100%; }

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .wdt-swiper-scrollbar .swiper-scrollbar-drag { background-color: currentColor; color: var(--wdt-elementor-color-accent); border-radius: inherit; }


.wdt-carousel-holder .swiper.swiper-vertical + .wdt-carousel-pagination-wrapper .wdt-swiper-scrollbar { height: 100%; margin: 0; position: absolute; left: 100%; top: 0; width: 8px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 17%, rgba(0,0,0,0.1) 83%, rgba(0,0,0,0) 100%);
}

.wdt-carousel-holder .swiper.swiper-vertical + .wdt-carousel-pagination-wrapper .wdt-swiper-scrollbar:before,
.wdt-carousel-holder .swiper.swiper-vertical + .wdt-carousel-pagination-wrapper .wdt-swiper-scrollbar:after { height: 100%; margin: 0; width: auto;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 17%, rgba(0,0,0,0.1) 83%, rgba(0,0,0,0) 100%);
}

.wdt-carousel-holder .swiper.swiper-vertical[data-settings*="scrollbar"] { padding-right: 10px; }
.wdt-carousel-holder .swiper.swiper-vertical[data-settings*="scrollbar"] + .wdt-carousel-pagination-wrapper .wdt-swiper-scrollbar { left: auto; right: 0; }


/* Pagination - Progress */

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .swiper-pagination-progressbar { float: left; height: 6px; overflow: hidden; position: relative; width: 100%; z-index: 0; -webkit-border-radius: 10px; border-radius: 10px;
    background-color: transparent;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 17%, rgba(0,0,0,0.1) 83%, rgba(0,0,0,0) 100%);
}

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .swiper-pagination-progressbar:before,
.wdt-carousel-holder .wdt-carousel-pagination-wrapper .swiper-pagination-progressbar:after { content: ""; height: 100%; opacity: 0.6; position: absolute; bottom: 0; left: 0; right: 0; top: 0; width: 100%; z-index: -1; -webkit-border-radius: inherit; border-radius: inherit;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 17%, rgba(0,0,0,0.1) 83%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );
}

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .swiper-pagination-progressbar:before,
.wdt-carousel-holder .wdt-carousel-pagination-wrapper .swiper-pagination-progressbar:after { height: auto; margin: 0; width: 100%; }


.wdt-carousel-holder .swiper.swiper-vertical + .wdt-carousel-pagination-wrapper .swiper-pagination-progressbar { height: 100%; margin: 0; position: absolute; left: 100%; top: 0; width: 8px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 17%, rgba(0,0,0,0.1) 83%, rgba(0,0,0,0) 100%);
}

.wdt-carousel-holder .swiper.swiper-vertical + .wdt-carousel-pagination-wrapper .swiper-pagination-progressbar:before,
.wdt-carousel-holder .swiper.swiper-vertical + .wdt-carousel-pagination-wrapper .swiper-pagination-progressbar:after { height: 100%; margin: 0; width: auto;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 17%, rgba(0,0,0,0.1) 83%, rgba(0,0,0,0) 100%);
}

.wdt-carousel-holder .wdt-carousel-pagination-wrapper .swiper-pagination-progressbar .swiper-pagination-progressbar-fill { background-color: currentColor; color: var(--wdt-elementor-color-accent); border-radius: inherit; }


.wdt-carousel-holder .swiper.swiper-vertical[data-settings*="progressbar"] { padding-right: 10px; }
.wdt-carousel-holder .swiper.swiper-vertical[data-settings*="progressbar"] + .wdt-carousel-pagination-wrapper .swiper-pagination-progressbar { left: auto; right: 0; }