/*--------------------------------------------------------------*/
    /* #region - Product Content Offer / Percentage */
/*--------------------------------------------------------------*/

    .woocommerce ul.products li.product .product-offers { position: absolute; top: 24px; text-align: center; z-index: 9; }

    .woocommerce ul.products li.product .product-offers { right: 24px; }

    .woocommerce ul.products li.product .product-offers .product-saved-sale { 
        display: inline-block; font-size: var(--wdtFontSize_Ext); font-weight: var(--wdtFontWeight_Alt); 
        line-height: 1; padding: 6px 12px; text-transform: capitalize; vertical-align: middle; }

    .woocommerce ul.products li.product .product-offers .product-saved-sale:before { 
        content: '\f0eb'; display: inline-block; font-family: 'WeFix Icons'; font-size: var(--wdtFontSize_Ext); 
        margin-right: 10px; font-weight: var(--wdtFontWeight_Base); vertical-align: top; display: none; }

    .woocommerce ul.products li.product .product-details .product-offers { 
        display: inline-block; float: none; line-height: normal; position: static; text-align: inherit; width: auto; }

    .woocommerce ul.products li.product .product-offers { background: var(--wdtPrimaryColor); color: var(--wdtAccentTxtColor); border-radius: var(--wdtRadius_1X); }
    
    .woocommerce ul.products.product-label-rounded li.product .product-offers { border-radius: 5px; }

/* #endregion - Product Thumb Offer / Percentage */