/*----*****---- << Transition >> ----*****----*/

.wdt-listings-sociallinks-container .wdt-listings-sociallinks-list li a,
*[class*='wdt-listings-utils-'] .wdt-listings-utils-favourite a.wdt-listings-utils-favourite-item,
*[class*='wdt-listings-utils-'] .wdt-listings-taxonomy-container .wdt-listings-taxonomy-list li a {
    -webkit-transition: var(--wdt-Ad-Transition);
       -moz-transition: var(--wdt-Ad-Transition);
        -ms-transition: var(--wdt-Ad-Transition);
         -o-transition: var(--wdt-Ad-Transition);
            transition: var(--wdt-Ad-Transition);
}

/*----*****---- << Default Single Page Style >> ----*****----*/

.wdt-portfolio-single-default { margin-bottom: clamp(3.75rem, 2.496rem + 5.7325vw, 9.375rem); /*150px - 60px*/ display: flex; flex-wrap: wrap; }
.wdt-portfolio-single-default .wdt-portfolio-single-image-area { width: calc(100% - 480px); margin-right: 60px; }
.wdt-portfolio-single-default .wdt-portfolio-single-content { position: sticky; top: 50px; height: fit-content; padding: clamp(1.875rem, 1.5963rem + 1.2739vw, 3.125rem) clamp(1.25rem, 0.9713rem + 1.2739vw, 2.5rem); border: 1px solid var(--wdtBorderColor); 
    border-radius: calc(var(--wdtRadius_2X)* 2); width: 420px; }
.wdt-portfolio-single-default .wdt-portfolio-single-content .wdt-portfolio-single-wrapper:not(:last-child) {
    padding-bottom: clamp(1.875rem, 1.6526rem + 1.227vw, 3.125rem); /*50px - 30px*/ 
    margin-bottom: clamp(1.875rem, 1.6526rem + 1.227vw, 3.125rem); /*50px - 30px*/ 
    border-bottom: 1px solid var(--wdtBorderColor); }
.wdt-portfolio-single-default .wdt-portfolio-single-content .wdt-portfolio-single-wrapper .wdt-portfolio-content-group .wdt-portfolio-excerpt p { margin: 0; }
.wdt-portfolio-single-default .wdt-portfolio-single-content .wdt-portfolio-single-wrapper .wdt-portfolio-taxonomy-group div:not(:last-child) { margin-bottom: 18px; }
.wdt-portfolio-single-default .wdt-portfolio-single-content .wdt-portfolio-single-wrapper .wdt-portfolio-content-group .wdt-listings-post-dates-container .wdt-listings-post-date-container label { font-size: var(--wdtFontSize_H6); }

.wdt-portfolio-single-default .wdt-portfolio-single-content .wdt-listings-contactdetails-container .wdt-listings-contactdetails-list > div { display: flex; align-items: center; justify-content: space-between; gap: 20px; flex-wrap: wrap; padding: 20px 0; border-top: 1px solid var(--wdtBorderColor); }
.wdt-portfolio-single-default .wdt-portfolio-single-content .wdt-listings-contactdetails-container .wdt-listings-contactdetails-list > div span { color: var(--wdtHeadAltColor); }
.wdt-portfolio-single-default .wdt-portfolio-single-content .wdt-listings-contactdetails-container .wdt-listings-contactdetails-list > div:last-child { padding-bottom: 0; }
.wdt-portfolio-single-default .wdt-portfolio-single-content .wdt-listings-contactdetails-container .wdt-listings-contactdetails-title { margin: 0 0 30px; }



/*----*****---- << Utils Style >> ----*****----*/

.wdt-listings-utils-container p { margin-bottom: 0; }
.wdt-listings-utils-container {
    float: left; position: relative; width: 100%; display: flex; align-items: center; flex-wrap: wrap; line-height: normal; }
.wdt-listings-utils-container .wdt-listings-utils-item { 
    float: left; position: relative; width: 100%; line-height: normal; margin-right: 20px; margin-bottom: 25px; }
.wdt-listings-utils-container .wdt-listings-utils-item:empty { display: none; }
.wdt-listings-utils-container .wdt-listings-utils-item:only-child { margin-bottom: 0; }
*[class*='wdt-listings-utils-'] .wdt-listings-utils-item label,
.wdt-portfolio-single-default .wdt-portfolio-single-content label,
.wdt-listings-post-dates-container .wdt-listings-post-date-container label,
.wdt-listings-sociallinks-container label {
    display: block; font-size: var(--wdtFontSize_H5); font-weight: var(--wdtFontWeight_Alt); 
    line-height: var(--wdtLineHeight_Alt); text-transform: capitalize; color: var(--wdtHeadAltColor); margin-bottom: 15px; }
*[class*='wdt-listings-utils-'] .wdt-listings-utils-item.wdt-listings-utils-title,
*[class*='wdt-listings-utils-'] .wdt-listings-utils-item.wdt-listings-utils-favourite { width: auto; }
.wdt-listings-utils-container .wdt-listings-utils-item > * { position: relative; line-height: var(--wdtLineHeight_Base); }
.wdt-listings-utils-container .wdt-listings-utils-item:last-child { margin-right: 0; margin-bottom: 0; }


/*----*****---- << Title Style >> ----*****----*/

.wdt-listings-utils-container .wdt-listings-utils-item h3.wdt-listings-utils-title-item { 
    line-height: var(--wdtLineHeight_Alt); margin: 0; }


/*----*****---- << Favourite Style >> ----*****----*/

*[class*='wdt-listings-utils-'] .wdt-listings-utils-favourite a.wdt-listings-utils-favourite-item {
    position: relative; backface-visibility: hidden; width: 40px; height: 40px; display: flex ; 
    justify-content: center; align-items: center; background-color: var(--wdtPrimaryColor); color: var(--wdtAccentTxtColor); -webkit-border-radius: var(--wdtRadius_Part); border-radius: var(--wdtRadius_Part); margin-right: 0; }
*[class*='wdt-listings-utils-'] .wdt-listings-utils-favourite a.wdt-listings-utils-favourite-item:hover {
    background-color: var(--wdtSecondaryColor); color: var(--wdtAccentTxtColor); }
*[class*='wdt-listings-utils-'] .wdt-listings-utils-favourite a.wdt-listings-utils-favourite-item span { margin-right: 0; }


/*----*****---- << Social Links >> ----*****----*/

.wdt-listings-sociallinks-container .wdt-listings-sociallinks-list {
    clear: both; padding: 0; display: flex; flex-wrap: wrap; align-items: center; margin: -3px; }
.wdt-listings-sociallinks-container .wdt-listings-sociallinks-list li {
    position: relative; display: inline-block; padding: 0; margin: 3px; }
.wdt-listings-sociallinks-container .wdt-listings-sociallinks-list li a { width: 30px; height: 30px; border-radius: var(--wdtRadius_1X); 
    border: 1px solid var(--wdtBorderColor); display: flex; align-items: center; justify-content: center; font-size: var(--wdtFontSize_Ext); }

.wdt-listings-sociallinks-container .wdt-listings-sociallinks-list li a span, 
.wdt-listings-sociallinks-container .wdt-listings-sociallinks-list li a { transition: var(--wdt-Ad-Transition); }

.wdt-listings-sociallinks-container .wdt-listings-sociallinks-list li a:hover span, 
.wdt-listings-sociallinks-container .wdt-listings-sociallinks-list li a:hover { color: var(--wdtLinkHoverColor) !important; }

.wdt-listings-sociallinks-container .wdt-listings-sociallinks-list li .fa-twitter::before { content: '\e804'; font-family: "wdt-ext-icon"; }
.wdt-listings-sociallinks-container .wdt-listings-sociallinks-list li .fa-linkedin::before { content: '\f0e1'; }


/*----*****---- << Post Date >> ----*****----*/

.wdt-listings-post-dates-container .wdt-listings-post-date-container,
.wdt-listings-post-dates-container .wdt-listings-post-date-container > [class*='wdt-listings-post-datetime-holder'] { 
    display: flex; align-items: center; flex-wrap: wrap; }
.wdt-listings-post-dates-container .wdt-listings-post-date-container > [class*='wdt-listings-post-']:not(:last-child), .wdt-listings-post-dates-container .wdt-listings-post-date-container > [class*='wdt-listings-post-'] > div:not(:last-child) { 
    position: relative; margin: 0 10px 0 0; }
.wdt-listings-post-dates-container .wdt-listings-post-date-container .wdt-listings-post-date-icon {
    display: flex; align-items: center; justify-content: center; font-size: var(--wdtFontSize_H6); }
.wdt-listings-post-dates-container .wdt-listings-post-date-container .wdt-listings-post-date-icon:before { 
    content: '\f073'; position: relative; font-family: 'Font Awesome 5 Free'; font-weight: normal; top: 0; 
    display: flex; align-items: center; justify-content: center; text-align: center; margin: 0; }
.wdt-listings-post-dates-container .wdt-listings-post-date-container > [class*='wdt-listings-post-datetime-holder'] > div:not(:last-child):after { content: ''; position: relative; display: inline-flex; width: 1px; height: 14px; background-color: currentColor; top: 2px; left: 0; right: 0; bottom: 0; -webkit-transform: rotate(15deg); transform: rotate(15deg); margin: 0 0 0 10px; }
.wdt-listings-post-dates-container .wdt-listings-start-date-container span:before { content: '\f251'; }
.wdt-listings-post-dates-container .wdt-listings-end-date-container span:before { content: '\f253'; }
.wdt-listings-post-dates-container .wdt-listings-post-date-container span:before { content: '\f073'; }
.wdt-listings-post-dates-container [class*='-date-container']:not(:last-child) { margin: 0 20px 0 0; }


/*----*****---- << Features Style >> ----*****----*/

.wdt-listings-features-box-container:not(.listing).wdt-no-column { display: flex; flex-wrap: wrap; line-height: inherit; }
.wdt-listings-features-box-container:not(.listing).wdt-no-column .wdt-listings-features-box-item:not(:last-child) { 
    margin-right: 25px; }
.wdt-listings-features-box-container:not(.listing) .wdt-listings-features-box-item > div.wdt-listings-features-box-item-value span { 
    margin: 0 0 0 5px; }
.wdt-listings-features-box-container:not(.listing) .wdt-listings-features-box-item { 
    display: flex; align-items: center; margin-bottom: 25px; }
.wdt-listings-features-box-container:not(.listing) .wdt-listings-features-box-item > div:not(:last-child) { margin-right: 12px; }
.wdt-listings-features-box-container:not(.listing) .wdt-listings-features-box-item .wdt-listings-features-box-item-img { 
    width: 40px; height: 40px; background-repeat: no-repeat; background-position: left center; background-size: contain; }
.wdt-listings-features-box-container:not(.listing) .wdt-listings-features-box-item .wdt-listings-features-box-item-title { 
    position: relative; font-size: var(--wdtFontSize_H5); font-weight: var(--wdtFontWeight_Alt); 
    line-height: var(--wdtLineHeight_Alt); text-transform: capitalize; }


/*----*****---- << Taxonomy Style >> ----*****----*/

.wdt-listings-taxonomy-container ul { 
    display: flex; flex-wrap: wrap; align-items: center; padding: 0; margin: -5px; }
.wdt-listings-taxonomy-container li { display: flex; margin: 5px; padding: 0; }
.wdt-listings-taxonomy-container .wdt-listings-taxonomy-list li a { 
    backface-visibility: hidden; will-change: transform; padding: 10px 20px; background-color: var(--wdtTertiaryColor); 
    color: var(--wdtHeadAltColor); font-size: var(--wdtFontSize_Base); font-weight: var(--wdtFontWeight_Base); 
    line-height: var(--wdtLineHeight_Alt); text-transform: capitalize; }
.wdt-listings-taxonomy-container .wdt-listings-taxonomy-list li a:hover {
    background-color: var(--wdtPrimaryColor); color: var(--wdtAccentTxtColor); }


/*----*****---- << Contact Details Style >> ----*****----*/

.wdt-listings-contactdetails-container ul.wdt-listings-contactdetails-list { padding: 0; margin: 0; }
.wdt-listings-contactdetails-container ul.wdt-listings-contactdetails-list li { 
    display: flex; align-items: center; list-style: none; }
.wdt-listings-contactdetails-container ul.wdt-listings-contactdetails-list li span { 
    width: 40px; height: 40px; font-size: var(--wdtFontSize_Ext); display: flex; align-items: center; 
    justify-content: center; background-color: var(--wdtPrimaryColor); color: var(--wdtAccentTxtColor); 
    border-radius: var(--wdtRadius_Part); margin-right: 8px; }


/*--------------------------------------------------------------
 	Responsive
--------------------------------------------------------------*/

@media(max-width:1540px){
    .wdt-portfolio-single-default .wdt-portfolio-single-image-area { width: calc(100% - 410px); margin-right: 30px; }
    .wdt-portfolio-single-default .wdt-portfolio-single-content { width: 380px; }
}

@media(max-width:1280px){
    .wdt-portfolio-single-default .wdt-portfolio-single-image-area { width: calc(100% - 380px); }
    .wdt-portfolio-single-default .wdt-portfolio-single-content { width: 350px; }
}

@media(max-width:1024px){
    .wdt-portfolio-single-default .wdt-portfolio-single-image-area, 
    .wdt-portfolio-single-default .wdt-portfolio-single-content { width: 100%; max-width: 770px; margin-left: auto; float: none; display: block; margin-right: auto; }
}


@media only screen and (max-width: 767px) {
    .wdt-portfolio-single-default .wdt-portfolio-single-content .wdt-portfolio-single-wrapper .wdt-portfolio-content-group {
        padding-right: 0; margin-bottom: 22px; }
}