/* ===== Pop-up Base ===== */

.wdt-popup-box-holder.mfp-bg,
.wdt-popup-box-holder.mfp-wrap { height: auto; bottom: 0; left: 0; right: 0; top: 0; width: auto; cursor: default; backdrop-filter: blur(2px); -webkit-backdrop-filter: blur(2px); }

.wdt-popup-box-holder > .mfp-container { padding: 50px 20px; }

.wdt-popup-box-holder.mfp-wrap .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder {
    background-color: var(--wdt-elementor-color-white);
    height: -webkit-fit-content; height: -moz-fit-content; height: fit-content;
    margin: auto; max-width: 1000px; width: 100%;
    -webkit-border-radius: calc(var(--wdtRadius_2X)* 2); border-radius: calc(var(--wdtRadius_2X)* 2);
    -webkit-transition: var(--wdt-elementor-base-transition); transition: var(--wdt-elementor-base-transition);
}

.wdt-popup-box-holder.mfp-wrap .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder .wdt-popup-box-content-inner {
    max-height: calc(90vh - 2*1.5em); overflow-y: auto;
}

.wdt-popup-box-holder.mfp-bg { opacity: 0.5; }

/* ===== Pop-Up - Close button ===== */

.wdt-popup-box-holder .wdt-popup-box-content-holder .mfp-close {
    margin: 0; font-size: 0; top: 10px; right: 10px; height: clamp(2.5rem, 2.3607rem + 0.6369vw, 3.125rem); width: clamp(2.5rem, 2.3607rem + 0.6369vw, 3.125rem); line-height: clamp(2.5rem, 2.3607rem + 0.6369vw, 3.125rem);
    border-radius: var(--wdtRadius_2X); -webkit-border-radius: var(--wdtRadius_2X);
    -webkit-transform: none; transform: none; display: flex; align-items: center; justify-content: center; opacity: 1;
}

.wdt-popup-box-holder .wdt-popup-box-content-holder .mfp-close:before,
.wdt-popup-box-holder .wdt-popup-box-content-holder .mfp-close:after {
    content: "" !important; width: clamp(1.25rem, 1.1943rem + 0.2548vw, 1.5rem); height: 2px;
    background-color: currentColor; position: absolute; -webkit-transform: rotate(-45deg); transform: rotate(-45deg);
    -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out;
}

.wdt-popup-box-holder .wdt-popup-box-content-holder .mfp-close:after {
    -webkit-transform: rotate(45deg); transform: rotate(45deg); 
    -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out;
}

.wdt-popup-box-holder .wdt-popup-box-content-holder .mfp-close:hover:before {
    -webkit-transform: rotate(-135deg); transform: rotate(-135deg);
}

.wdt-popup-box-holder .wdt-popup-box-content-holder .mfp-close:hover:after {
    -webkit-transform: rotate(135deg); transform: rotate(135deg);
}

.wdt-popup-box-holder .wdt-popup-box-content-holder .mfp-close {
    background-color: var(--wdtPrimaryColor); color: var(--wdtAccentTxtColor);
}

.wdt-popup-box-holder .wdt-popup-box-content-holder .mfp-close:hover {
    background-color: var(--wdtAccentTxtColor); color: var(--wdtSecondaryColor);
}

.wdt-popup-box-holder .mfp-close:empty { display: none; }


/* FadeIn Transform Effect */

.wdt-popup-box-holder .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder {
    opacity: 0;
    -webkit-transform: translateY(-20px) perspective(600px) rotateX(10deg); 
    transform: translateY(-20px) perspective(600px) rotateX(10deg);
    -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;
}

.wdt-popup-box-holder.mfp-ready .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder {
    opacity: 1;
    -webkit-transform: translateY(0) perspective(600px) rotateX(0);
    transform: translateY(0) perspective(600px) rotateX(0);
}

/* Pop-up None Style */
.wdt-popup-box-trigger-holder.wdt-popup-disable { display: none; }


/* ===== Scrollbar CSS ===== */

/* Firefox */
.wdt-popup-box-holder.mfp-wrap .mfp-container.mfp-inline-holder .wdt-popup-box-content-holder .wdt-popup-box-content-inner {
    -webkit-scrollbar-width: none; scrollbar-width: none; scrollbar-color: var(--wdtPrimaryColor) transparent;
}

/* Chrome, Edge, and Safari */
.wdt-popup-box-holder.mfp-wrap .mfp-container.mfp-inline-holder .wdt-popup-box-content-holder .wdt-popup-box-content-inner::-webkit-scrollbar {
    width: 0px; display: none;
}

.wdt-popup-box-holder.mfp-wrap .mfp-container.mfp-inline-holder .wdt-popup-box-content-holder .wdt-popup-box-content-inner::-webkit-scrollbar-track { background: transparent; }

.wdt-popup-box-holder.mfp-wrap .mfp-container.mfp-inline-holder .wdt-popup-box-content-holder .wdt-popup-box-content-inner::-webkit-scrollbar-thumb { background-color: var(--wdtPrimaryColor); border-radius: 0px; }