/*--------------------------------------------------------------*/
    /* #region - Product Thumb Overlay Effects */
/*--------------------------------------------------------------*/

    .woocommerce ul.products li.product .product-thumb .image .product-thumb-overlay { 
        height: 100%; position: relative; z-index: 1; }

    .woocommerce ul.products.product-overlay-bottomtotop li.product .product-thumb .image .product-thumb-overlay { 
        display: block; position: absolute; width: 100%; height: 0; top: auto; right: 0; bottom: 0; left: 0; 
        background-color: rgba(var(--wdtHeadAltColorRgb), 0.3); opacity: 0; margin: 0 auto; }
        
    .woocommerce ul.products.product-overlay-bottomtotop li.product:hover .product-thumb .image .product-thumb-overlay { 
        height: 100%; opacity: 1; }

/* #endregion - Product Thumb Overlay Effects */        