/*--------------------------------------------------------------*/
    /* #region - Product Thumb Overlay Effects */
/*--------------------------------------------------------------*/

    .woocommerce ul.products li.product .product-thumb .image .product-thumb-overlay { 
        height: 100%; position: relative; z-index: 1; }

    .woocommerce ul.products.product-overlay-middleradial li.product .product-thumb .image .product-thumb-overlay { 
        display: block; position: absolute; width: 100%; height: 100%; top: 0; right: 0; bottom: 0; left: 0; 
        background-color: rgba(var(--wdtHeadAltColorRgb), 0.3); -webkit-transform: scale(.1); -moz-transform: scale(.1); -ms-transform: scale(.1); transform: scale(.1); opacity: 0; -webkit-border-radius: 50%; border-radius: 50%; }
        
    .woocommerce ul.products.product-overlay-middleradial li.product:hover .product-thumb .image .product-thumb-overlay { 
        opacity: 1; -webkit-transform: scale(1.5); -moz-transform: scale(1.5); -ms-transform: scale(1.5); transform: scale(1.5); }

/* #endregion - Product Thumb Overlay Effects */        