/**
    Marquee Animation Style 
*/

.wdt-animation-wrapper { position: relative; display: flex; flex-flow: row nowrap; overflow: visible; overflow-x: clip; }

.wdt-animation-wrapper div[class*="-marqee"] { width: auto; flex: 0 0 auto; display: grid; grid-auto-flow: column; align-items: center; }

.wdt-animation-wrapper div[class*="-marqee"] .wdt-animation-item { display: inline-flex; flex: 0 0 auto; text-align: center; position: relative; }
.wdt-animation-wrapper .wdt-animation-item { padding: 0 clamp(0.875rem, 0.7914rem + 0.3822vw, 1.25rem); /*  Min-14 & Max-20 */ }

.wdt-animation-wrapper div[class*="-marqee"].right-to-left { 
    -webkit-animation: MarqueeLeft 24s linear infinite 0ms; animation: MarqueeLeft 24s linear infinite 0ms; }
.wdt-animation-wrapper div[class*="-marqee"].left-to-right { 
    -webkit-animation: MarqueeRight 24s linear infinite 0ms; animation: MarqueeRight 24s linear infinite 0ms; }
  
.wdt-animation-wrapper:hover div[class*="-marqee"] { -webkit-animation-play-state: paused; animation-play-state: paused; }

@keyframes MarqueeLeft { 
    from { margin-left: 0; } 
    to { margin-left: var(--wdt-marque-Margin-Width); } 
}
@keyframes MarqueeRight { 
    from { margin-left: var(--wdt-marque-Margin-Width); } 
    to { margin-left: 0; } 
}

/**
    Animation Text Style 
*/

.wdt-animation-item.text-item { display: inline-block; font-size: clamp(1.875rem, 1.1783rem + 3.1847vw, 5rem); /* Min-30 & Max-80 */
    font-weight: var(--wdtFontWeight_Alt); font-family: var(--wdtFontTypo_Alt); text-transform: capitalize; line-height: 1; }

.wdt-animation-item.text-item,
.wdt-animation-item.text-item a { color: var(--wdtHeadAltColor); text-decoration: none !important; transition: var(--wdt-Ad-Transition); }
.wdt-animation-item.text-item a:hover { opacity: 0.5; }

/**
    Animation Icon Style 
*/

.wdt-animation-item.icon-item { display: flex; align-items: center; justify-content: center;
    font-size: clamp(1.75rem, 1.4615rem + 1.2821vw, 3rem); /* Min-28 & Max-48 */ }

.wdt-animation-item.icon-item svg { width: 1em; height: 1em; fill: currentColor; }


/**
    Animation Image Style 
*/

.wdt-animation-item.image-item img { object-fit: cover; object-position: center;
    width: clamp(1.75rem, 1.4615rem + 1.2821vw, 3rem); /* Min-28 & Max-48 */
    height: clamp(1.75rem, 1.4615rem + 1.2821vw, 3rem); /* Min-28 & Max-48 */ }



/**
    Responsive - AT Media Query
    --------------------------------
*/

