/*--------------------------------------------------------------*/
    /* #region - Button Element Button */
/*--------------------------------------------------------------*/

.woocommerce ul.products li.product .product-buttons-wrapper.product-button a.button.product_type_simple:after { 
    content: "\e820"; font-family: 'WeFix Icons'; }

.woocommerce ul.products li.product .product-buttons-wrapper.product-button a.button.product_type_variable:after,
.woocommerce ul.products li.product .product-buttons-wrapper.product-button .add_to_cart_variantbutton:after { 
    content: "\f218"; font-family: 'WeFix Icons'; }

.woocommerce ul.products li.product .product-buttons-wrapper.product-button a.button.add_to_cart_button.product_type_simple:after { content: "\f217"; font-family: 'WeFix Icons'; }

.woocommerce ul.products li.product .product-buttons-wrapper.product-button a.added_to_cart.wc-forward:after { 
    content: "\e843"; font-family: 'WeFix Icons'; z-index: 1; }

.woocommerce ul.products li.product .product-buttons-wrapper.product-button a.button.product_type_external:after { 
    content: "\f08e"; font-family: "WeFix Icons"; }
    
.woocommerce ul.products li.product .product-buttons-wrapper.product-button a.button.product_type_grouped:after { 
    content: "\f16b"; font-family: 'WeFix Icons'; }

.woocommerce ul.products li.product a.add_to_cart_button.added { display: none !important; }

/* #endregion - IconsGroup Button */