/*--------------------------------------------------------------*/
    /* #region - Product Listing Border Options */
/*--------------------------------------------------------------*/

    .woocommerce ul.products.product-without-space.product-border-type-thumb.product-border-position-default li.product .featured-tag, 
    .woocommerce ul.products.product-without-space.product-border-type-thumb.product-border-position-default li.product .featured-tag { left: 1px; top: 1px; }


/* #endregion - Product Listing Border Options */    