/***<<--- Mailchimp Transition --->>***/

.wdt-mailchimp-holder .wdt-mailchimp-wrapper,
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form > *,
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button[type='submit'],
.wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form:after
{
    -webkit-transition: var(--wdt-Ad-Transition);
            transition: var(--wdt-Ad-Transition);
}

/***<<--- Mailchimp Common --->>***/

.wdt-mailchimp-form-holder { display: block; width: 100%; position: relative; }


.wdt-mailchimp-holder { display: flex; align-items: center; flex-wrap: wrap; width: 100%; }

.wdt-mailchimp-holder .wdt-mailchimp-wrapper { display: inline-flex; flex-wrap: wrap; width: 100%; }

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form { display: inline-flex; flex-wrap: wrap; width: 100%; gap: 20px; }

/* .wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form > *:not(:last-child) { margin-bottom: 12px; } */

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-title,
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subtitle,
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-description { line-height: 1; }

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-title { font-size: 2em; }

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subtitle { font-size: 1.5em; letter-spacing: .05em; }

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type='text'],
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type='email'] { 
    font-size: var(--wdtFontSize_Ext);
    width: 100%;
    padding: var(--wdtInputPadding);
    border: 1px solid;
    border-radius: var(--wdtRadius_2X);
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input,
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input:focus-visible { outline: none; }

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button[type='submit'] {
    font-size: 0.9em; line-height: 1; position: relative; display: inline-flex; align-items: center; flex-wrap: wrap;
    /* height: 100%; */ margin-top: 0; padding: var(--wdtPadding_Btn); text-align: center; color: var(--wdt-elementor-color-white); 
    border: 1px solid transparent; -webkit-border-radius: var(--wdtRadius_2X); border-radius: var(--wdtRadius_2X); outline: none; 
    background-color: var(--wdt-elementor-color-accent); fill: var(--wdt-elementor-color-white); }

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button[type='submit'] > *:last-child
{
    margin: 0 0 0 10px;
}
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button[type='submit'] > *:only-child
{
    margin: 0;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form.with-btn-icon .wdt-mailchimp-subscription-button-holder button
{
    padding: 1em;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button[type='submit'] i
{
    font-size: inherit;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input:not(:last-child)
{
    margin: 0;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form button[type='submit']:before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    visibility: hidden;

    width: 25px;
    height: 25px;
    margin: auto;

    content: '';
    -webkit-animation: jet-spinner .6s linear infinite;
            animation: jet-spinner .6s linear infinite;

    border: 3px solid #e1e1e1;
    border-top-color: #000000;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}

@-webkit-keyframes jet-spinner
{
    to
    {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@keyframes jet-spinner
{
    to
    {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form button[type='submit'].loading:before
{
    visibility: visible;
}
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form button[type='submit'].loading > *
{
    visibility: hidden;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscription-msg
{
    position: relative;

    display: flex;
    align-items: center;

    width: 100%;
    margin: 20px 0 0;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-title:empty,
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subtitle:empty,
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-description:empty,
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscription-msg:empty
{
    display: none;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscription-msg .wdt-mailchimp-subscription-msg-inner
{
    line-height: 1.5;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    padding: 12px 20px;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscription-msg .success
{
    color: #5cb85c;
    background-color: #d9efd9;
}
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscription-msg .error
{
    color: #d9534f;
    background-color: #ffcac9;
}


/* Type 1 */

.wdt-mailchimp-holder.wdt-template-type1 .wdt-mailchimp-subscription-button-holder { width: 100%; }


/* Type 2 */

.wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper { display: flex; 
    -webkit-box-align: start; align-items: center; -ms-flex-align: start; 
    -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-orient: horizontal; 
    -webkit-box-direction: normal; flex-wrap: wrap; -webkit-box-pack: start; -ms-flex-pack: start; 
    justify-content: flex-start; }

.wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form {
    position: relative; display: flex; width: 100%; margin: 0; border-radius: 0px; }

.wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form:hover:before { width: 100%; }

.wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input { 
    margin: 0; outline: none; background: transparent; -webkit-box-shadow: none; box-shadow: none; }

.wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form.with-btn-text input { padding-right: 6em; }
.wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form.with-btn-icon-and-text input { padding-right: 7em; }

.wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder {
    position: absolute; z-index: 1; top: 0; right: 0; bottom: 0; left: auto;
    align-items: center; margin: 0; border-radius: 0px; }

.wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button[type="submit"] {
    background-color: var(--wdtPrimaryColor); color: var(--wdtAccentTxtColor); fill: var(--wdtAccentTxtColor); }

.wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button[type="submit"]:hover {
    background-color: var(--wdtSecondaryColor); color: var(--wdtAccentTxtColor); fill: var(--wdtAccentTxtColor); }

.wdt-dark-bg .wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button[type="submit"]:hover { background-color: var(--wdtLinkHoverColor); }

.wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form.with-btn-icon .wdt-mailchimp-subscription-button-holder button { 
    display: inline-flex; align-items: center; justify-content: center; width: 50px; height: 100%; padding: 0; }


.wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-form-holder input {
    padding-left: 4.2em;
    padding-right: 5em;
}

.wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form::before {
    content: "";
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    background: currentColor;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25' xml:space='preserve'%3E%3Cpath d='M16.9,1.3H8.1c-4,0-8.1,1-8.1,8.1v6.1c0,7.2,4.1,8.1,8.1,8.1h8.7c4,0,8.1-1,8.1-8.1V9.4C25,2.3,20.9,1.3,16.9,1.3z M8.1,3 h8.7c2.2,0,3.9,0.3,5,1.5l-6.1,6.8c-1.1,1.1-2.2,1.7-3.3,1.7c-1,0-2.1-0.6-3.3-1.7L3.1,4.5C4.2,3.3,5.9,3,8.1,3z M23.3,15.6 c0,5.4-2.4,6.4-6.4,6.4H8.1c-4.1,0-6.4-1-6.4-6.4V9.4c0-1.4,0.2-2.5,0.5-3.4L8,12.4c0,0,0,0,0,0c1.5,1.5,3,2.2,4.5,2.2 c1.5,0,3-0.7,4.5-2.2c0,0,0,0,0,0l5.8-6.4c0.3,0.9,0.5,2,0.5,3.4V15.6z'%3E%3C/path%3E%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25' xml:space='preserve'%3E%3Cpath d='M16.9,1.3H8.1c-4,0-8.1,1-8.1,8.1v6.1c0,7.2,4.1,8.1,8.1,8.1h8.7c4,0,8.1-1,8.1-8.1V9.4C25,2.3,20.9,1.3,16.9,1.3z M8.1,3 h8.7c2.2,0,3.9,0.3,5,1.5l-6.1,6.8c-1.1,1.1-2.2,1.7-3.3,1.7c-1,0-2.1-0.6-3.3-1.7L3.1,4.5C4.2,3.3,5.9,3,8.1,3z M23.3,15.6 c0,5.4-2.4,6.4-6.4,6.4H8.1c-4.1,0-6.4-1-6.4-6.4V9.4c0-1.4,0.2-2.5,0.5-3.4L8,12.4c0,0,0,0,0,0c1.5,1.5,3,2.2,4.5,2.2 c1.5,0,3-0.7,4.5-2.2c0,0,0,0,0,0l5.8-6.4c0.3,0.9,0.5,2,0.5,3.4V15.6z'%3E%3C/path%3E%3C/svg%3E");
    left: 26px;
    top: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.5;
    pointer-events: none;
    margin: auto;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

.wdt-dark-bg .wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-form-holder input { border-color: var(--wdtPrimaryColor); background: var(--wdtSecondaryColor); }

.wdt-dark-bg .wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-form-holder input:focus { border-color: rgba(var(--wdtPrimaryColorRgb), 0.6); }


/* Default Colors */

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type='text'],
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type='email'] { border-color: var(--wdtBorderColor); }

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input:focus { border-color: var(--wdtPrimaryColor); }

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button[type='submit']:hover
{
    background-color: var(--wdt-elementor-color-primary);
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button[type='submit']:hover svg { animation: wdt-btn-icon 0.3s ease; -webkit-animation: wdt-btn-icon 0.3s ease; }

.wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form button[type='submit'],
.wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form button[type='submit']:hover
{
    background-color: transparent;
}

.wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form button[type='submit']
{
    color: inherit;
}
.wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form button[type='submit']:hover
{
    color: var(--wdt-elementor-color-primary);
}

/*--------------------------------------------------------------
    Responsive
--------------------------------------------------------------*/

/*----*****---- << Mobile (Landscape) >> ----*****----*/

/* Common Styles for the devices below 767px width */
@media only screen and (max-width: 767px) {
    /* .wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form { padding: 10px 25px; } */
    /* .wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type='email'] { padding-right: 10px; } */
    .wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form button[type='submit'] { padding: 10px 0 10px 15px; }

    .wdt-mailchimp-holder.wdt-template-type6 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form { flex-wrap: wrap; }
    .wdt-mailchimp-holder.wdt-template-type6 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input { margin: 0 0 10px 0; }
}

/** 
    * Mailchimp Form Terms and Conditions
*/

.wdt-terms-and-condition-holder { margin-top: 10px; }

.wdt-terms-and-condition-holder input[type="checkbox"].wdt-terms-and-conditions { top: auto;
    opacity: 1; -webkit-appearance: none; appearance: none; width: 20px; height: 20px; border: 1px solid rgba(var(--wdtHeadAltColorRgb), 0.15); 
    transform: translateY(-0.075em); display: inline-grid; place-content: center; background: transparent; 
    border-radius: var(--wdtRadius_1X); padding: 0 0 !important; margin: 0 11px 0 0 !important; cursor: pointer; }

/* .wdt-terms-and-condition-holder input[type="checkbox"].wdt-terms-and-conditions:after {
    content: ""; width: 0.65em; height: 0.65em; clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%); 
    transform: scale(0); transform-origin: bottom left; transition: 120ms transform ease-in-out; box-shadow: inset 1em 1em var(--wdtLinkHoverColor); }

.wdt-terms-and-condition-holder input[type="checkbox"].wdt-terms-and-conditions:checked:after { transform: scale(1); } */

.wdt-terms-and-condition-holder .wdt-terms-condition-lbl { font-size: clamp(0.875rem, 0.8471rem + 0.1274vw, 1rem); }
.wdt-dark-bg .wdt-terms-and-condition-holder input[type="checkbox"].wdt-terms-and-conditions { border-color: rgb(var(--wdtAccentTxtColorRgb), .25); }
.wdt-dark-bg .wdt-terms-and-condition-holder .wdt-terms-condition-lbl { color: rgb(var(--wdtAccentTxtColorRgb), .7); }